// ----------------------------------------
// Variables
// ----------------------------------------
$white: #fff !default;
$black: #000 !default;
$deep-beige: #cf9b4c !default;
$beige: #cf9b4c !default;
$light-beige: #f6ebdb !default;
